.layout-container {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-row-definition {
    margin: 0! important;
}
.layout-row-definition.shrink {
    flex-grow: 1;
    min-height: 0;
}

.layout-column-definition {
    padding: 0 !important;
}

.layout-column-definition,
.layout-contents-container,
.layout-contents-panel {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.layout-contents-panel {
    display: flex;
    flex-direction: column;
}

.layout-component-container {
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.layout-contents-shadow {
    box-shadow: 0px 10px 10px #7F7F7F1F;
}