################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Q3-Concept.Server/Q3-Concept.Server/obj/Release/net5.0
/Q3-Concept.Server/Q3-Concept.Server/obj/Debug/net5.0
/Q3-Concept.Server/.vs/Q3-Concept.Server/v16/TestStore/0
/.vs/Q3-Concept_Breakpoint/v16/TestStore/0
/.vs/Q3-Concept_Breakpoint/v16

Q3-Concept.Server/Q3-Concept.Server/Controllers/WeatherForecastController.cs
