.GraphItem{
    stroke : black;
    stroke-width: 1;
    opacity: 1;

    &.on{
        fill: green;
    }
    &.off{
        fill: red;
    }

    z-index: 12;
}

.GraphTitle{
    text-align: center;
}



svg text{
    fill: black;
    stroke: black;
    text-anchor: middle;
}

#tooltip {
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: none;
    position: absolute;
  }
