@import "StatusCollors";

.itemcolor {
  &.on {
    color: $MachineStatus-Active;
  }

  &.off {
    color: $MachineStatus-Inactive;
  }

  &.maintenance {
    color: $MachineStatus-Maintenace;
  }

  &.requires-maintance {
    color: $MachineStatus-RequiresMaintance;
  }

  &.undefined {
    color: $MachineStatus-Undefined;
  }
}

.plotitem{
  width: 300;
  height: 100;
  overflow-y: visible;
}

.GraphTitle{
  text-align: center;
}




