@import "StatusCollors";

* {
  margin: 0;
  padding: 0;
}

.MachineCard {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  flex-basis: 100%;

  margin: 0, 5%;

  cursor: pointer;

  &.on {
    background-color: $MachineStatus-Active;
  }

  &.off {
    background-color: $MachineStatus-Inactive;
  }

  &.maintenance {
    background-color: $MachineStatus-Maintenace;
  }

  &.requires-maintance {
    background-color: $MachineStatus-RequiresMaintance;
  }

  &.undefined {
    background-color: $MachineStatus-Undefined;
  }
}
.MachineCard:hover {
  transform: scale(1.1);
}
.MachineCard::before {
  isolation: isolate;
  mix-blend-mode: color;
  opacity: 0;
}

.MachineCard:hover::before {
  opacity: 1;
}
