* {
  margin: 0;
  padding: 0;
}

.side-menu {
  vertical-align: top;
  padding: 0 10px;
  padding-bottom: 10px;
  z-index: -5;
  border-right: black solid 1px;
  padding-top: 10px;
  background-color: #d3d3d3;
  position: fixed;
  height: 100%;
}

.side-menu-items {
  text-align: center;
  word-wrap: break-word;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu-items:hover {
  cursor: pointer;
}
