*{
  margin: 0;
  padding: 0;
}

@media screen and (min-height: 1600px) {
  .side-menu{
    height: calc(100vh - 80px);
  }
}
.side-menu {
  background-color: #d4d5d6;
  flex-basis: 15%;
  vertical-align: top;
  padding: 0 10px;
  padding-top: 10px;
}


.side-menu-items {
  text-align: center;
  word-wrap: break-word;
  list-style: none;
  margin: 0;
  padding: 0;
}

