$MachineStatus-Active: #00e676;
$MachineStatus-Inactive: #f44336;
$MachineStatus-Maintenace: #ba68c8;
$MachineStatus-RequiresMaintance: #ffb74d;
$MachineStatus-Undefined: #aaa;

:export{
    StatusOn : String($MachineStatus-Active);
    StatusOff : $MachineStatus-Inactive;
    StatusRequiresMaintenance : $MachineStatus-RequiresMaintance;
    StatusUndefined : $MachineStatus-Undefined;
}